---
layout: home
crawlertitle: "SCCC Homepage"
title: "SCCC Soongsil Computing Contest Club"
summary: "SCCC Homepage"
permalink: /index.html
---

<div class="home-page ui contianer">

    <!-- Header -->

    <div class="animation">
        <div class="container">
            <div class="character">
                S
            </div>
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="170" stroke="#4B82C4"/>
                <circle cx="170" cy="170" r="140" stroke="#FFD619"/>
                <circle cx="170" cy="170" r="115" stroke="#B22814"/>
            </svg>
        </div>
    </div>
    <div class="main-header">
        <div class="animation">
            <div class="falling-text-wrapper">
                <div class="falling-text">
                    S
                </div>
                <div class="falling-text">
                    C
                </div>
                <div class="falling-text">
                    C
                </div>
                <div class="falling-text">
                    C
                </div>
            </div>
            <div class="appearing-text-wrapper">
                <div class="appearing-text">
                    Soongsil
                </div>
                <div class="appearing-text">
                    Computing
                </div>
                <div class="appearing-text">
                    Contest
                </div>
                <div class="appearing-text">
                    Club
                </div>
            </div>
            <div class="ui center aligned header button-down">
                <a href="#services">
                    <button class="ui inverted button ">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <section id="services">
        <h1 class="ui center aligned header">SCCC</h1>
        <h2 class="ui center aligned header">Soongsil Computing Contest Club</h2>
        <div class="ui center aligned header">
            <button class="ui button shake-little" onclick="location.href='/recruit/'">신입 부원 모집</button>
            <button class="ui button shake-little" onclick="location.href='/study/'">스터디 목록</button>
            <button class="ui button shake-little" onclick="location.href='/awards/'">SCCC 수상 실적</button>
            <button class="ui button shake-little" onclick="location.href='/contest/'">SCON 안내</button>
            <button class="ui button shake-little" onclick="location.href='/icpc-guide/'">ICPC 신청 가이드</button>
        </div>
        <div class="ui three column doubling stackable grid container">
            <div class="column" data-aos="fade-right">
                <div class="ui segment" style="display: flex; flex-direction: column; align-items: center;">
                    <div class="ui medium image">
                        <img src={{ site.baseurl | append: "/assets/images/logos/ssu-resize.png" }} class="img-responsive">
                    </div>
                    <h4 class="ui center aligned">Soongsil University</h4>
                    <p class="ui center aligned">숭실대학교 컴퓨터학부 소속 문제해결 소모임입니다.</p>
                </div>
            </div>
            <div class="column" data-aos="fade-up">
                <div class="ui segment" style="display: flex; flex-direction: column; align-items: center;">
                    <div class="ui medium image">
                        <img src={{ site.baseurl | append: "/assets/images/logos/icpc-resize.png" }} class="img-responsive">
                    </div>
                    <h4 class="ui center aligned">Problem Solving</h4>
                    <p class="ui center aligned">자료구조, 알고리즘, 문제해결기법을 공부하여 ICPC 등 여러 프로그래밍 대회를 준비합니다.</p>
                </div>
            </div>
            <div class="column" data-aos="fade-left">
                <div class="ui segment">
                    <div class="ui medium image">
                        <img src={{ site.baseurl | append: "/assets/images/logos/mobis-resize.png" }} class="img-responsive">
                    </div>
                    <h4 class="ui center aligned">현대모비스 우수SW동아리</h4>
                    <p class="ui center aligned">현대모비스 우수 SW동아리로 지원받아 활동하고 있습니다.</p>
                </div>
            </div>
        </div>
        <h2 class="ui center aligned header">How we study</h2>
        <div class="ui last container" data-aos="flip-up">
            <div class="ui five steps">
                <div class="step">
                <div class="content">
                    <div class="title">봄 스터디</div>
                    <div class="description">실력 별로 그룹을 나누어 진행합니다.</div>
                </div>
                </div>
                <div class="step">
                <div class="content">
                    <div class="title">여름 스터디</div>
                    <div class="description">팀 스터디, 전체 모의고사를 진행합니다.</div>
                </div>
                </div>
                <div class="active step">
                <div class="content">
                    <div class="title">ICPC</div>
                    <div class="description">두근두근 대망의 대회!</div>
                </div>
                </div>
                <div class="step">
                <div class="content">
                    <div class="title">겨울 스터디</div>
                    <div class="description">알고리즘 위주로 공부합니다.</div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="activity" class="bg-light-green">
        <h2 class="ui center aligned header">Activity</h2>
        <h3 class="ui center aligned header">2023년 SCCC 활동 소개</h3>
        <div class="container">
            <div class="ui three column doubling stackable grid container">
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/scon.jpg" }} class="img-responsive" alt="">
                        </div>
                        <h4>숭실대학교 프로그래밍 대회(2023 SCON) 개최</h4>
                        <p class="text-muted">교내 프로그래밍 대회를 개최합니다. (<a href="https://github.com/ssu-sccc/2023scon">문제&풀이</a>)</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/weekly-ps.png" }} class="img-responsive" alt="">

                        </div>
                        <h4>주간 연습</h4>
                        <p class="text-muted">매주 문제를 풀고 토론합니다. (<a href="https://github.com/justiceHui/SSU-SCCC-Study/tree/master/2023-spring-problem-solving">문제 모음</a>)</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/internal-contest.jpg" }} class="img-responsive" alt="">
                        </div>
                        <h4>SCCC 내전</h4>
                        <p class="text-muted">상품을 걸고 내부 대회를 진행합니다. (<a href="https://github.com/justiceHui/SSU-SCCC-Study/tree/master/2023-autumn-contest">문제 모음</a>)</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/icpc-prem.png" }} class="img-responsive" alt="">
                        </div>
                        <h4>2023 ICPC 예선</h4>
                        <p class="text-muted">서울대학교, 카이스트, 그리고 숭실대학교</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/icpc-seoul-regional.jpg" }} class="img-responsive" alt="">
                        </div>
                        <h4>2023 ICPC Asia Seoul Regional Contest</h4>
                        <p class="text-muted">PS akgwi팀 은상(4등) 수상</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/ucpc-final.jpg" }} class="img-responsive" alt="">
                        </div>
                        <h4>2023 UCPC 본선</h4>
                        <p class="text-muted">문제 출제, 4등상, 특별상*2</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/mobis.png" }} class="img-responsive" alt="">
                        </div>
                        <h4>2023 현대모비스 알고리즘 경진대회</h4>
                        <p class="text-muted">우수상(6등, 7등) 수상</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/hello-boj.jpg" }} class="img-responsive" alt="">
                        </div>
                        <h4>Hello, BOJ 2024!</h4>
                        <p class="text-muted">문제 출제, 5등상, 특별상 수상</p>
                    </div>
                </div>
                <div class="column" data-aos="fade-right">
                    <div class="ui segment center aligned">
                        <div class="ui medium image">
                            <img src={{ site.baseurl | append: "/assets/images/2023-activity/scpc-logo.jpg" }} class="img-responsive" alt="">
                        </div>
                        <h4>2023 삼성전자 대학생 프로그래밍 경진대회</h4>
                        <p class="text-muted">SCCC 소속 4명 진출</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="Graduated" class="bg-light-gray">
        <h2 class="ui center aligned header">Graduated</h2>
        <h3 class="ui center aligned header">졸업생 소식입니다.</h3>
        <div class="ui one column doubling stackable grid container">
            <div class="ui items">
                {% for user in site.data.graduated %}
                <div class="item">
                    <div class="ui small image">
                        <img src={{ site.baseurl | append: "/assets/images/team/anonymous.png" }}>
                    </div>
                    <div class="content">
                        <a class="header">@{{user.name}}</a>
                        <div class="description"><p>"{{user.comment}}"</p></div>
                        <div class="extra">
                            {% if user.award %}
                            {% for item in user.award %}
                            <div class="ui label"><i class="{{item.icon}} icon"></i>{{item.title}}</div>
                            {% endfor %}
                            <br>
                            {% endif %}

                            {% if user.role %}
                            {% for item in user.role %}
                            <div class="ui label"><i class="{{item.icon}} icon"></i>{{item.title}}</div>
                            {% endfor %}
                            <br>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <h2 class="ui center aligned header">역대 SCCC 운영진 명단</h2>
        <div class="ui container">
        <table>
            <tr><th>연도</th><th>회장</th><th>부회장</th><th>총무</th></tr>
            <tr><td>2024년 1학기</td><td>유상원(sangwon090)</td><td>나정휘(jhnah917), 남혜민(nam14785), 진세림(qwerty1120)</td><td>강윤주(rkddbswn1)</td></tr>
            <tr><td>2023년 2학기</td><td>나정휘(jhnah917)</td><td>박찬솔(chansol), 안해성(i_am_commang), 유상원(sangwon090)</td><td>나정휘(jhnah917)</td></tr>
            <tr><td>2023년 1학기</td><td>박찬솔(chansol)</td><td>나정휘(jhnah917)</td><td>나정휘(jhnah917)</td></tr>
            <tr><td>2022년</td><td>나정휘(jhnah917)</td><td>이영재(Rose)</td><td>이로건</td></tr>
            <tr><td>2021년</td><td></td><td></td><td></td></tr>
            <tr><td>2020년</td><td>정종인(chongin12)</td><td></td><td></td></tr>
            <tr><td>2019년</td><td>권욱제(wookje)</td><td></td><td></td></tr>
            <tr><td>2018년</td><td>이효빈(hyo123bin)</td><td></td><td></td></tr>
            <tr><td>2017년</td><td>유영정(youngjeong_yu)</td><td></td><td></td></tr>
            <tr><td>2016년</td><td></td><td></td><td></td></tr>
            <tr><td>2015년</td><td>서영선(sys7961)</td><td></td><td></td></tr>
        </table>
        2021년 이전의 정보는 완전하지 않을 수 있습니다. 정보 수정 요청은 아래 페이스북 페이지나 이메일로 연락해 주시면 감사하겠습니다.
        </div>

        <h2 class="ui center aligned header">SCCC 운영진을 모집하고 있습니다.</h2>
        <div class="ui last container" data-aos="flip-up">
            <div class="ui three steps">
                <div class="step">
                <div class="content">
                    <div class="title">소통</div>
                    <div class="description">Slack + Bot / KakaoTalk / Google Drive 와 같은 도구로 커뮤니티를 운영합니다.</div>
                </div>
                </div>
                <div class="step">
                <div class="content">
                    <div class="title">오픈소스</div>
                    <div class="description">GitHub를 이용해 홈페이지와 스터디 자료를 관리합니다.</div>
                </div>
                </div>
                <div class="step">
                <div class="content">
                    <div class="title">커뮤니티</div>
                    <div class="description">전, 현직 운영진과 슬랙에서 함께 프로젝트를 진행할 수 있습니다.</div>
                </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" data-aos="fade-up">
        <h2 class="ui center aligned header">Contact Us</h2>
        <h3 class="ui center aligned header">저희에게 궁금하신 점이 있으신가요?</h3>
        <div class="container">
            <div class="ui center aligned header">
                <a class="facebook-link" href="https://www.facebook.com/SSUSCCC/" target="_blank">
                    <button class="ui button shake-little">
                        페이스북으로 연락하기
                    </button>
                </a>
            </div>
        </div>
    </section>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
</div>