<div class="ui inverted vertical footer segment" style="padding-top: 3.5rem;">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
			<div class="three wide column">
				<h4 class="ui inverted header">Contacts</h4>
				<div class="ui inverted link list">
					<a href="mailto:official.sccc@gmail.com" class="item">Contact Us</a>
					<a href="https://www.instagram.com/official_sccc_" class="item">Instagram</a>
					<a href="https://www.facebook.com/SSUSCCC/" class="item">Facebook</a>
					<a href="https://github.com/ssu-sccc" class="item">Github</a>
					<a href="https://www.acmicpc.net/group/543" class="item">BOJ</a>
				</div>
			</div>
			<div class="three wide column">
				<h4 class="ui inverted header">Related</h4>
				<div class="ui inverted link list">
					<a href="https://icpckorea.org/" target="_blank" class="item">ICPC</a>
					<a href="https://ssu.ac.kr/" target="_blank" class="item">숭실대학교</a>
<!--					<a href="https://d2.naver.com/home" target="_blank" class="item">네이버 D2</a>-->
				</div>
			</div>
			<div class="seven wide column">
				<h4 class="ui inverted header">Open Community</h4>
				<p>저희는 알고리즘과 문제해결을 사랑하는 분들께 언제나 열려 있습니다. 연락 주세요!</p>
			</div>
		</div>
	</div>
	<div class="ui center aligned header">&copy; <span class="full-year"></span> {{ site.title }} 2024</div>
</div>
</div>
<script src="{{ site.baseurl }}/assets/js/anime.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

