<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Contacts</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="https://www.facebook.com/SSUSCCC/" class="item"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Open</h4>
          <p>저희는 알고리즘과 문제해결을 사랑하는 분들께 언제나 열려 있습니다. 연락 주세요!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui center aligned">&copy; <span class="full-year"></span> {{ site.title }}</div>
</div>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

