<div class="animation">
        <div class="container">
            <div class="character">
                S
            </div>
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="170" stroke="#4B82C4"/>
                <circle cx="170" cy="170" r="140" stroke="#FFD619"/>
                <circle cx="170" cy="170" r="115" stroke="#B22814"/>
            </svg>
        </div>
    </div>
    <div class="main-header">
        <div>
          <a href="{{ site.url }}">
            <div class="falling-text-wrapper">
                <div class="not-falling-text">
                    RECRUIT
                </div>
            </div>
            <div class="appearing-text-wrapper">
                <div class="not-appearing-text">
                    SCCC 신입 부원 모집
                </div>
            </div>
          </a>
        </div>
    </div>
