<div id="sidebar" class="ui left vertical inverted menu sidebar">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img class="sidbar-logo" src={{ site.baseurl | append: "/assets/images/logos/sccc.png" }}>
        </a>
    </div>
    <a class="item" href={{ site.baseurl | append: "#services"}}>Who we are</a>
    <a class="item" href={{ site.baseurl | append: "#activity"}}>Activity</a>
    <a class="item" href={{ site.baseurl | append: "#portfolio"}}>Portfolio</a>
    <a class="item" href={{ site.baseurl | append: "#team"}}>Team</a>
    <a class="item" href="https://www.acmicpc.net/group/543">BOJ Group</a>
    {% for my_page in site.pages %}
        {% if my_page.active %}
            <a class="item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
    {% endfor %}
    <a class="item" href={{ site.baseurl | append: "#contact"}}>Contact</a>
</div>
<button id="menu-toggle" type="button" class="ui black big fixed button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
</button>
{% comment %} <div class="pusher">
    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
</div> {% endcomment %}

{% comment %} {% for my_page in site.pages %}
  {% if my_page.active %}
    <li>
      <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    </li>
  {% endif %}
{% endfor %} {% endcomment %}
